In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

np.random.seed(42)
print("✅ Setup complete")

✅ Setup complete

In [52]:
df = pd.read_csv('../Datasets/Eng_Dataset.csv')

In [53]:
df.shape

(401, 16)

In [54]:
df.head()

,Email,Name,Gender,10th board,10th marks,12th board,12th marks,Stream,Cgpa,Internships(Y/N),Training(Y/N),Backlog in 5th sem,Innovative Project(Y/N),Communication level,Technical Course(Y/N),Placement(Y/N)?
0,payal_roy79@gmail.com,Payal Roy,Female,State Board,96.7,CBSE,70.2,Mechanical Engineering,7.37,No,Yes,No,No,3,Yes,Not Placed
1,shreyoshi_dey13@gmail.com,Shreyoshi Dey,Female,WBBSE,96.2,WBCHSE,90.6,Electronics and Communication Engineering,9.35,No,No,No,Yes,4,No,Not Placed
2,rohan_nandi12@gmail.com,Rohan Nandi,Male,State Board,97.5,CBSE,69.6,Information Technology,7.84,No,Yes,No,Yes,3,Yes,Placed
3,smita_agarwal90@gmail.com,Smita Agarwal,Female,CBSE,96.9,Other state Board,77.6,Computer Science in AIML,7.87,Yes,No,Yes,Yes,2,Yes,Not Placed
4,samaira_singhania95@gmail.com,Samaira Singhania,Female,ICSE,99.1,CBSE,62.8,Computer Science and Engineering,9.26,Yes,Yes,No,Yes,1,Yes,Not Placed

In [55]:
df.columns.tolist()

['Email',
 'Name',
 'Gender',
 '10th board',
 '10th marks',
 '12th board',
 '12th marks',
 'Stream',
 'Cgpa',
 'Internships(Y/N)',
 'Training(Y/N)',
 'Backlog in 5th sem',
 'Innovative Project(Y/N)',
 'Communication level',
 'Technical Course(Y/N)',
 'Placement(Y/N)?']

In [56]:
df['Salary'] = 0.0

for i in range(len(df)):
    if df.loc[i, 'Placement(Y/N)?'] == 'Placed':
        cgpa = df.loc[i, 'Cgpa']
        internship = df.loc[i, 'Internships(Y/N)']
        project = df.loc[i, 'Innovative Project(Y/N)']
        technical = df.loc[i, 'Technical Course(Y/N)']
        training = df.loc[i, 'Training(Y/N)']
        backlog = df.loc[i, 'Backlog in 5th sem']
        communication = df.loc[i, 'Communication level']
        
        cgpa_normalized = cgpa / 10 if cgpa > 10 else cgpa
        base_salary = 5.0
        
        # CGPA bonus (30% weight)
        if cgpa_normalized >= 9.0:
            base_salary += np.random.uniform(4, 8)
        elif cgpa_normalized >= 8.0:
            base_salary += np.random.uniform(2, 6)
        elif cgpa_normalized >= 7.0:
            base_salary += np.random.uniform(1, 4)
        else:
            base_salary += np.random.uniform(0, 2)
        
        # Skills bonus (40% weight) - NOW STRONGER!
        if internship == 'Yes': 
            base_salary += np.random.uniform(2, 5)
        if project == 'Yes': 
            base_salary += np.random.uniform(3, 6)
        if technical == 'Yes': 
            base_salary += np.random.uniform(1, 3)
        if training == 'Yes': 
            base_salary += np.random.uniform(1, 3)
        
        # Communication (20% weight)
        base_salary += communication * 1.0
        
        # Backlog penalty
        if backlog == 'Yes': 
            base_salary -= np.random.uniform(2, 4)
        
        base_salary = max(3.5, base_salary) * np.random.uniform(0.9, 1.1)
        df.loc[i, 'Salary'] = round(base_salary, 1)

print(df[df['Salary'] > 0]['Salary'].describe())

count    199.000000
mean      20.879397
std        3.846490
min       10.400000
25%       18.200000
50%       20.900000
75%       22.850000
max       32.100000
Name: Salary, dtype: float64

In [57]:
def categorize_package(row):
    if row['Salary'] == 0: return 'Not Placed'
    elif row['Salary'] >= 20: return 'Premium'
    elif row['Salary'] >= 15: return 'Standard'
    else: return 'Basic'
df['Package_Category'] = df.apply(categorize_package, axis=1)
print(df['Package_Category'].value_counts())

Package_Category
Not Placed    202
Premium       118
Standard       70
Basic          11
Name: count, dtype: int64

In [58]:
df['Salary']

0       0.0
1       0.0
2      19.2
3       0.0
4       0.0
       ...
396     0.0
397    20.2
398    19.9
399     0.0
400     0.0
Name: Salary, Length: 401, dtype: float64

In [59]:
df['Salary'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 401 entries, 0 to 400
Series name: Salary
Non-Null Count  Dtype
--------------  -----
401 non-null    float64
dtypes: float64(1)
memory usage: 3.3 KB

In [60]:
df['Salary'].describe()

count    401.000000
mean      10.361596
std       10.797102
min        0.000000
25%        0.000000
50%        0.000000
75%       20.800000
max       32.100000
Name: Salary, dtype: float64

In [61]:
df.columns

Index(['Email', 'Name', 'Gender', '10th board', '10th marks', '12th board',
       '12th marks', 'Stream', 'Cgpa', 'Internships(Y/N)', 'Training(Y/N)',
       'Backlog in 5th sem', 'Innovative Project(Y/N)', 'Communication level',
       'Technical Course(Y/N)', 'Placement(Y/N)?', 'Salary',
       'Package_Category'],
      dtype='object')

In [62]:
df['Package_Category']

0      Not Placed
1      Not Placed
2        Standard
3      Not Placed
4      Not Placed
          ...
396    Not Placed
397       Premium
398      Standard
399    Not Placed
400    Not Placed
Name: Package_Category, Length: 401, dtype: object

In [63]:
df['DSA_Score'] = 0
df['Projects_Count'] = 0
df['Cloud_Skills'] = 'No'
df['GitHub_Active'] = 'No'
df['Competitive_Programming'] = 0
df['Fullstack_Knowledge'] = 'No'
print(f"New shape: {df.shape}")

New shape: (401, 24)

In [64]:
# For Premium
for i in df[df['Package_Category'] == 'Premium'].index:
    df.loc[i, 'DSA_Score'] = np.random.randint(11, 16)
    df.loc[i, 'Projects_Count'] = np.random.randint(5, 9)
    df.loc[i, 'Cloud_Skills'] = np.random.choice(['Yes', 'No'], p=[0.8, 0.2])
    df.loc[i, 'GitHub_Active'] = np.random.choice(['Yes', 'No'], p=[0.85, 0.15])
    df.loc[i, 'Competitive_Programming'] = np.random.randint(3, 6)
    df.loc[i, 'Fullstack_Knowledge'] = np.random.choice(['Yes', 'No'], p=[0.75, 0.25])

print(f"PREMIUM avg DSA: {df[df['Package_Category'] == 'Premium']['DSA_Score'].mean():.2f}")

PREMIUM avg DSA: 12.86

In [65]:
# for standard
for i in df[df['Package_Category'] == 'Standard'].index:
    df.loc[i, 'DSA_Score'] = np.random.randint(7, 13)
    df.loc[i, 'Projects_Count'] = np.random.randint(3, 7)
    df.loc[i, 'Cloud_Skills'] = np.random.choice(['Yes', 'No'], p=[0.5, 0.5])
    df.loc[i, 'GitHub_Active'] = np.random.choice(['Yes', 'No'], p=[0.6, 0.4])
    df.loc[i, 'Competitive_Programming'] = np.random.randint(2, 5)
    df.loc[i, 'Fullstack_Knowledge'] = np.random.choice(['Yes', 'No'], p=[0.45, 0.55])

print(f"STANDARD avg DSA: {df[df['Package_Category'] == 'Standard']['DSA_Score'].mean():.2f}")

STANDARD avg DSA: 9.29

In [66]:
# for basic
for i in df[df['Package_Category'] == 'Basic'].index:
    df.loc[i, 'DSA_Score'] = np.random.randint(4, 10)
    df.loc[i, 'Projects_Count'] = np.random.randint(1, 5)
    df.loc[i, 'Cloud_Skills'] = np.random.choice(['Yes', 'No'], p=[0.25, 0.75])
    df.loc[i, 'GitHub_Active'] = np.random.choice(['Yes', 'No'], p=[0.3, 0.7])
    df.loc[i, 'Competitive_Programming'] = np.random.randint(0, 3)
    df.loc[i, 'Fullstack_Knowledge'] = np.random.choice(['Yes', 'No'], p=[0.2, 0.8])

print(f"BASIC avg DSA: {df[df['Package_Category'] == 'Basic']['DSA_Score'].mean():.2f}")

BASIC avg DSA: 6.55

In [67]:
# for not placed
for i in df[df['Package_Category'] == 'Not Placed'].index:
    df.loc[i, 'DSA_Score'] = np.random.randint(0, 8)
    df.loc[i, 'Projects_Count'] = np.random.randint(0, 3)
    df.loc[i, 'Cloud_Skills'] = 'No'
    df.loc[i, 'GitHub_Active'] = np.random.choice(['Yes', 'No'], p=[0.15, 0.85])
    df.loc[i, 'Competitive_Programming'] = np.random.randint(0, 2)
    df.loc[i, 'Fullstack_Knowledge'] = 'No'

print(f"NOT PLACED avg DSA: {df[df['Package_Category'] == 'Not Placed']['DSA_Score'].mean():.2f}")

NOT PLACED avg DSA: 3.25

In [68]:
df.shape

(401, 24)

In [69]:
df['Package_Category'].value_counts()

Package_Category
Not Placed    202
Premium       118
Standard       70
Basic          11
Name: count, dtype: int64

In [70]:
print(df.groupby('Package_Category')['DSA_Score'].mean().round(2))

Package_Category
Basic          6.55
Not Placed     3.25
Premium       12.86
Standard       9.29
Name: DSA_Score, dtype: float64

In [71]:
df['DSA_Score'].unique()

array([ 2,  1, 12,  4,  0,  3,  6, 11,  7,  5,  9,  8, 15, 13, 14, 10])

In [72]:
df['Projects_Count'].unique()

array([0, 2, 3, 1, 6, 4, 5, 7, 8])

In [73]:
df.to_csv('../Datasets/Placement_Dataset_Enhanced.csv', index=False)

In [74]:
df

,Email,Name,Gender,10th board,10th marks,12th board,12th marks,Stream,Cgpa,Internships(Y/N),...,Technical Course(Y/N),Placement(Y/N)?,Salary,Package_Category,DSA_Score,Projects_Count,Cloud_Skills,GitHub_Active,Competitive_Programming,Fullstack_Knowledge
0,payal_roy79@gmail.com,Payal Roy,Female,State Board,96.7,CBSE,70.2,Mechanical Engineering,7.37,No,...,Yes,Not Placed,0.0,Not Placed,2,0,No,No,0,No
1,shreyoshi_dey13@gmail.com,Shreyoshi Dey,Female,WBBSE,96.2,WBCHSE,90.6,Electronics and Communication Engineering,9.35,No,...,No,Not Placed,0.0,Not Placed,1,2,No,No,0,No
2,rohan_nandi12@gmail.com,Rohan Nandi,Male,State Board,97.5,CBSE,69.6,Information Technology,7.84,No,...,Yes,Placed,19.2,Standard,12,3,No,Yes,3,Yes
3,smita_agarwal90@gmail.com,Smita Agarwal,Female,CBSE,96.9,Other state Board,77.6,Computer Science in AIML,7.87,Yes,...,Yes,Not Placed,0.0,Not Placed,4,0,No,No,1,No
4,samaira_singhania95@gmail.com,Samaira Singhania,Female,ICSE,99.1,CBSE,62.8,Computer Science and Engineering,9.26,Yes,...,Yes,Not Placed,0.0,Not Placed,0,0,No,No,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
396,mandira_kapoor63@gmail.com,Mandira Kapoor,Female,ICSE,88.8,CBSE,89.1,Computer Science and Engineering,8.34,Yes,...,Yes,Not Placed,0.0,Not Placed,3,2,No,No,0,No
397,smita_yadav92@gmail.com,Smita Yadav,Female,State Board,86.7,CBSE,86.7,Computer Science and Engineering,7.77,Yes,...,Yes,Placed,20.2,Premium,15,7,Yes,Yes,5,Yes
398,manish_sinha90@gmail.com,Manish Sinha,Male,CBSE,83.5,CBSE,61.1,Electrical Engineering,8.85,No,...,Yes,Placed,19.9,Standard,9,4,Yes,Yes,4,Yes
399,pawan_sah12@gmail.com,Pawan Sah,Male,ICSE,99.8,ISE,75.4,Electronics and Communication Engineering,7.89,Yes,...,Yes,Not Placed,0.0,Not Placed,3,2,No,No,1,No
400,abhijit_chatterjee6@gmail.com,Abhijit Chatterjee,Male,WBBSE,94.2,CBSE,90.0,Electronics and Communication Engineering,7.89,Yes,...,Yes,Not Placed,0.0,Not Placed,6,0,No,Yes,0,No

In [75]:
print(f"Final shape: {df.shape}")
print("\nDSA Score by category:")
print(df.groupby('Package_Category')['DSA_Score'].mean().round(2))
print("\nProjects by category:")
print(df.groupby('Package_Category')['Projects_Count'].mean().round(2))
print("\nPackage distribution:")
print(df['Package_Category'].value_counts())

Final shape: (401, 24)

DSA Score by category:
Package_Category
Basic          6.55
Not Placed     3.25
Premium       12.86
Standard       9.29
Name: DSA_Score, dtype: float64

Projects by category:
Package_Category
Basic         3.27
Not Placed    0.96
Premium       6.59
Standard      4.41
Name: Projects_Count, dtype: float64

Package distribution:
Package_Category
Not Placed    202
Premium       118
Standard       70
Basic          11
Name: count, dtype: int64